# backend/requirements.txt
fastapi
uvicorn
python-dotenv
supabase
requests
pandas
openai
assemblyai
sentence-transformers
scikit-learn
yt-dlp
spacy==3.5.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl